[Unit]
Description=Long Life Charge daemon

[Service]
ExecStart=/usr/bin/llcharge -c /etc/llcharge.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
